body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: #BBD2C5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


input {
    box-sizing: border-box;
    padding-left: 1%;

    width: 45%;
    height: 80px;

    border: none;
    border-radius: 5px;
    margin: 2% 0;

    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 300;
}

input:focus {
    outline: none;
}

#input_1 {
    border: 3px solid #292E49;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
}

select {
    border: none;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    width: 15%;
    height: 30px;
    padding-left: 0.5%;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 300;
}

select:focus {
    outline: none;
}

#select_1 {
    border: 2px solid #292E49;
    margin-right: 5%;
}

#select_2 {
    border: 2px solid #292E49;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 30px;
    margin-right: 1%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #fff;
    font-size: 100px;
}

h2 {
    font-family: 'Monoton', sans-serif;
    color: #fff;
    font-size: 40px;
}

#go {
    width: 20%;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #fff;

    background-color: #292E49;

    font-family: 'roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
}

#go:hover {
    cursor: pointer;
}
